My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "82511232-8fa5-443b-a5fe-1244fa0c85f9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "9i02B9zhpIQSu4ny",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Responde SOLO en JSON válido con las siguientes etiquetas: Categoria, Prioridad y Resumen, y si aplica para cita o evento, agregar Lugar, Hora y la Fecha en formato a/m/d"
            },
            {
              "content": "=Clasifica este email del 1 al 10 siendo superioir o igual a 7 como alta:  {{ $json.Subject }} {{ $json.From }} {{ $json.snippet }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        192,
        0
      ],
      "id": "465b5699-9a29-4c29-b003-5d644ec6a3a7",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Ayh1osSnBO1gLpcZ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d148670a-fc32-4eac-b944-1bf3e0af9c2c",
              "leftValue": "={{ $json.Prioridad }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        0
      ],
      "id": "c335d8dc-a4db-49fd-af27-a05e83295188",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02e38c8b-55a0-490c-a817-84534a6f9a74",
              "name": "=Prioridad",
              "value": "={{ parseInt(JSON.parse($json.output[0].content[0].text).Prioridad) }}",
              "type": "number"
            },
            {
              "id": "18925ecf-ecf4-4687-b4a1-addbca067e38",
              "name": "Lugar",
              "value": "={{JSON.parse($json.output[0].content[0].text).Lugar }}",
              "type": "string"
            },
            {
              "id": "6bdcc88a-891b-4118-a156-1b1d632392b3",
              "name": "Hora",
              "value": "={{JSON.parse($json.output[0].content[0].text).Hora }}",
              "type": "string"
            },
            {
              "id": "0abcc172-3082-4339-b2ca-bc0f4aa3c6ab",
              "name": "Fecha",
              "value": "={{JSON.parse($json.output[0].content[0].text).Fecha }}",
              "type": "string"
            },
            {
              "id": "2f24b33d-c4f1-427f-b156-716231026937",
              "name": "Resumen",
              "value": "={{JSON.parse($json.output[0].content[0].text).Resumen }}",
              "type": "string"
            },
            {
              "id": "9ae11e20-ab8c-450d-a982-00976eb9d05a",
              "name": "Categoria",
              "value": "={{JSON.parse($json.output[0].content[0].text).Categoria }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        0
      ],
      "id": "cfa9c090-f76e-4e04-be4f-0aefaa58eeb6",
      "name": "Edit Fields",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const fecha = item.json.Fecha\n  const hora = item.json.Hora\n\n  const fechaFormateada = fecha.replace(/\\//g, \"-\") + \"T\" + hora + \":00\"\n\n  return {\n    json: {\n      ...item.json,\n      fecha_inicio: fechaFormateada,\n      fecha_fin: new Date(new Date(fechaFormateada).getTime() + 60 * 60 * 1000)\n    }\n  }\n})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        0
      ],
      "id": "0fb550d2-6a84-490e-8a71-2efe5b718059",
      "name": "Code in JavaScript",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const fecha = item.json.Fecha\n  const hora = item.json.Hora\n\n  const fechaFormateada = fecha.replace(/\\//g, \"-\") + \"T\" + hora + \":00\"\n\n  return {\n    json: {\n      ...item.json,\n      fecha_inicio: fechaFormateada,\n      fecha_fin: new Date(new Date(fechaFormateada).getTime() + 60 * 60 * 1000)\n    }\n  }\n})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -160
      ],
      "id": "04266fb6-9a40-4bf2-aaf6-58011c263db5",
      "name": "Code in JavaScript1",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "6799959414",
        "text": "=💻 *Te llego un nuevo correo* 📩\n\nPrioridad:  {{ $('Edit Fields').item.json.Prioridad }}\nCategoria: {{ $('Edit Fields').item.json.Categoria }}\nResumen: {{ $('Edit Fields').item.json.Resumen }}\n\n----------------------------------------------------\n\n📅 {{$json.Categoria}}\n\n🕒 {{$json.Hora}}\n📍 {{$json.Lugar}}\n\n¿Quieres agendar este evento?",
        "replyMarkup": "=",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        -160
      ],
      "id": "e2204059-5c31-47df-a52f-356f56bb599f",
      "name": "Send a text message",
      "webhookId": "b6a5de08-9731-4121-8734-4d67c5bc9e72",
      "credentials": {
        "telegramApi": {
          "id": "HWzIYJF05aVmNTll",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6799959414",
        "text": "=💻 *Te llego un nuevo correo* 📩\n\nPrioridad:  {{ $('Edit Fields').item.json.Prioridad }}\nCategoria: {{ $('Edit Fields').item.json.Categoria }}\nResumen: {{ $('Edit Fields').item.json.Resumen }}",
        "replyMarkup": "=",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        16
      ],
      "id": "02db5fdc-3f23-4dd5-9f67-d60a3942a814",
      "name": "Send a text message1",
      "webhookId": "b6a5de08-9731-4121-8734-4d67c5bc9e72",
      "credentials": {
        "telegramApi": {
          "id": "HWzIYJF05aVmNTll",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "brianloglez10@gmail.com",
          "mode": "list",
          "cachedResultName": "brianloglez10@gmail.com"
        },
        "timeMin": "={{ $('Code in JavaScript').item.json.fecha_inicio }}",
        "timeMax": "={{ $('Code in JavaScript').item.json.fecha_fin }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1344,
        16
      ],
      "id": "1f3dfea1-a052-4e62-9e15-ed89ca92ebf1",
      "name": "Get availability in a calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "d6ugZWRsR5lyF8dt",
          "name": "Google Calendar OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Get availability in a calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4716f211-5f85-4252-a410-4ecd2ab81552",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc97a2925d1cbde9bff899c2a5eaeab78971723982527447091db5f4fbfbd24d"
  },
  "id": "Xb68qAziobiybI6D",
  "tags": []
}